{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'railway/css/styles.css' %}">
    <title>{{title}}</title>
</head>
<body>
    {% block mainmenu %}
        {%for m in menu%}
            <a href = "{% url m %}">{{m}}</a>
        {%endfor%}
        {% if request.user.is_authenticated %}
            <div class="dropdown">
                <a href = "{% url 'account' %}" class="dropbtn">{{user.username}}</a> 
                <div class="dropdown-content">
                <a href="{% url 'print_tickets' %}">MyTickets</a>
                <a href="{% url 'change_password' %}">Change Password</a>  
                </div>
            </div>
            | <a href = "{% url 'logout' %}">logout</a>
        {% else %}
            <a href="{% url 'register' %}">register</a> <a href="{% url 'login' %}">login</a>
        {% endif %}          
    {% endblock mainmenu %}

    {%block content%}

    {%endblock content%}
</body>
</html>