{% extends 'railway/base.html' %}



{%block content%}
<h1>{{title}}</h1>
<h2>Wagon number: {{wagon}}</h2>
<form method="post" action="">
    {% csrf_token %}
    {%for seat in seats%}
        <p>Seat number: {{seat.number}}</p>            
        {% if seat.status == "BOUGHT" %}
        <input type="checkbox" id={{seat.number}} name = {{seat.number}} disabled checked>
        {% else %}  <!-- Display the selected page plus and minus 2 page -->
        <input type="checkbox" id={{seat.number}} name = {{seat.number}}>
        {#<!--{% else %}-->#}
        {#<!--<a href="?page={{ p }}">{{p}}</a>-->#}  <!-- Display all pages range -->
        {% endif %}
    {%endfor%}
    <input type="submit" value="Send"/>
</form>
{%endblock content%}